# General domain
DOMAIN_NAME=vjan-nie.42.fr

# MariaDB
DB_NAME=wordpress
DB_USER=wpuser
DB_PASSWORD=MariaDB123
DB_ROOT_PASSWORD=DBroot123

# WordPress
WP_TITLE=My Inception Site_vjan-nie
WP_ADMIN_USER=vjan-nie_boss
WP_ADMIN_PASSWORD=bossPass123
WP_ADMIN_EMAIL=boss@student.42madrid.com
WP_USER=vjan-nie_guest
WP_USER_PASSWORD=guestPass123
WP_USER_EMAIL=guest@student.42madrid.com

# Redis
REDIS_PASSWORD=Redis123

# FTP
FTP_USER=ftpuser
FTP_PASSWORD=FTP123
