# 42 User Configuration (Used for local volume paths)
LOGIN=vjan-nie   # el Makefile lo sobreescribe con $(whoami) al ejecutar `make`

# General Domain Configuration
DOMAIN_NAME=vjan-nie.42.fr

# MariaDB / Database Configuration
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

# WordPress Site Configuration
WP_TITLE=My Inception Site
WP_ADMIN_USER=vjan-nie_boss
WP_ADMIN_EMAIL=boss@student.42madrid.com

# WordPress Extra User
WP_USER=vjan-nie_guest
WP_USER_EMAIL=guest@student.42madrid.com